<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="858383">  <td>24/05/07 00:06:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:TestScripts.Post_Test_Script@b9b00e0]">validate</td> 
  <td>main@426394307</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>24/05/07 00:06:28</td>   <td>9126</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScripts.Post_Test_Script@b9b00e0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@426394307</td>   <td></td> </tr>
<tr bgcolor="858383">  <td>24/05/07 00:06:19</td>   <td>-37</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.setup()[pri:0, instance:TestScripts.Post_Test_Script@b9b00e0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@426394307</td>   <td></td> </tr>
</table>
